<div id="listContainer">
    <div class="fb_infoList">
        <div class="fb_il_title">Helpful resources</div>
        <ul>
            <li><a href="/API/" rel="noopener" target="_blank">{{ "FooterBar.niceToKnow.restApi" | translate }}</a></li>
            <li><a href="https://github.com/YamaYAML/LegacyPlayersV4/" rel="noopener"
                   target="_blank">{{ "FooterBar.niceToKnow.github" | translate }}</a></li>
	   <li><a href="https://discord.gg/g3QQVaEpK7">Join us on Discord</a></li>
	   <li><a href="https://turtle-wow.org/"><3 Turtle WoW</a> | <a href="https://wowauctions.net/"><3 WoW Auctions</a></li>
        </ul>
    </div>
</div>

<div id="copyright">{{ "FooterBar.copyright" | translate:copyRightArguments }}</div>
