<div class="text">
<h1>Welcome to Legacy Players</h1>

    <div class="textContainer">
        <p>Legacy Players is a community-driven project that aims to create a platform for World of Warcraft players across various expansion packs to share raid logs, PvP logs, and armory data. Its primary objective is to archive data from all private servers, ensuring easy accessibility. The system parses combat logs uploaded by players, offering valuable insights into raid performance.
        </p><p>
The project, in its current form, was initiated in 2022 by the Turtle WoW Team, who took charge of hosting and maintaining the platform when the original version went offline. Recognizing its value to the private server community, they were determined not to let it fade away. Legacy Players' ultimate goal is to foster unity within the Legacy-WoW community, preserving memories of raids, characters, and PvP, while also providing useful tools.
</p><p>
Despite a challenging start, the project is now under proper maintenance, with increased developer contributions and a robust infrastructure for future growth. It is expanding its support to more private servers, addressing long-overdue bug fixes, and nearing a significant release that will include support for Turtle WoW's custom content (v1.17.1).
</p>    </div>
<button class="btnHighlight" routerLink="/contribute">Contribute</button>
</div>
